@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

#container {
  margin-left:auto;
  margin-right:auto;
}

td {
  border:0px;
  padding:0px;
  margin:0px;
}

#topbar {
  height: 50px;
  width: auto;
}

#canvas {
  position:relative;
  height: 600px;
  width: 900px;
  border-style:solid;
  border-width:1px;
  border-color:#a0a0a0;
  border-radius:10px;
}

#information {
  position:relative;
  height: 200px;
  width: 900px;
  border-style:solid;
  border-width:1px;
  border-color:#a0a0a0;
  border-radius:10px;
}

#information p .filterlabel {
  color: #3182bd;
  text-transform:capitalize;
  font-variant:small-caps;
  font-weight:bold;
  font-size: 120%;
}

.instruction_box {
    position:relative;
    overflow:auto;
    height: 138px;
    width: 900px;
}


#sidebar {
  height: 600px;
  width: 250px;
  border-style:solid;
  border-width: 1px;
  border-color:#a0a0a0;
  border-radius:10px;
  vertical-align:top;
}

#topbar .view {
  float: left;
  height: 50px;
  width: 100px;
  margin: 2px;
  border: 0px;
  padding: 0px;
  background-color: #6baed6;
  color: blue;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  border-radius:10px;
}

#topbar .view:hover {
  background-color: #3182bd;
}

#sidebar p .filterlabel {
  color: #3182bd;
  text-transform:capitalize;
  font-variant:small-caps;
  font-weight:bold;
  font-size: 120%;
}

#sidebar .view {
  float: left;
  height: 50px;
  width: 100px;
  margin: 2px;
  border: 0px;
  padding: 0px;
  background-color: #6baed6;
  color: blue;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  border-radius:10px;
}

#sidebar .view:hover {
  background-color: #3182bd;
}

#sidebar .view2 {
  float: left;
  height: 50px;
  width: 110px;
  margin: 2px;
  border: 0px;
  padding: 0px;
  background-color: #6baed6;
  color: blue;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  border-radius:10px;
}

#sidebar .view2:hover {
  background-color: #3182bd;
}


#sidebar2 {
  height: 600px;
  width: 250px;
  border-style:solid;
  border-width: 1px;
  border-color:#a0a0a0;
  border-radius:10px;
  vertical-align:top;
}

#sidebar2 p .filterlabel {
  color: #3182bd;
  text-transform:capitalize;
  font-variant:small-caps;
  font-weight:bold;
  font-size: 120%;
}

#sidebar2 .view {
  float: left;
  height: 50px;
  width: 100px;
  margin: 2px;
  border: 0px;
  padding: 0px;
  background-color: #6baed6;
  color: blue;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  border-radius:10px;
}

#loadimage {
  position:absolute;
  left:375px;
  top:225px;
  margin:0px;
  border:0px;
  z-index:100;
}

/* View 2 specific. */
.view2 {
  font: 10px sans-serif;
}

.view2 .axis path,
.view2 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.view2 .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* View 3 specific styles. */
.view3 .bar {
  fill: steelblue;
}

.view3 .bar:hover {
  fill: brown;
}

.view3 .axis {
  font: 10px sans-serif;
}

.view3 .axis path,
.view3 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* View 4 specific styles. */
.view4 {
  font: 10px sans-serif;
}

.view4 .axis path,
.view4 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.view4 .x.axis path {
    fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.view4 .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* View 5 specific styles. */
.view5 {
  font: 10px sans-serif;
}

.view5 .axis path,
.view5 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.view5 .dot {
  stroke: #000;
}

.area.a1 {
    fill: blue;
    opacity: 0.5;
    clip-path: url('/#clip');
}

.area.a2 {
    fill: orange;
    opacity: 0.5;
    clip-path: url('/#clip');
}

.area.a3 {
    fill: green;
    opacity: 0.5;
    clip-path: url('/#clip');
}

.area.a4 {
    fill: red;
    opacity: 0.5;
    clip-path: url('/#clip');
}

.area.a5 {
    fill: yellow;
    opacity: 0.5;
    clip-path: url('/#clip');
}

.area.a6 {
    fill: purple;
    opacity: 0.5;
    clip-path: url('/#clip');
}

.area.a7 {
    fill: steelblue;
    opacity: 0.5;
    clip-path: url('/#clip');
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
